@import "./normalize.css";

:root {
  --color-primary: #837bfc;
  --color-secondary: #273f66;
  --color-body: #172443;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px == 10px */
  font-size: 62.5%;
}

/*Fonts*/
@font-face {
  font-family: "eastman";
  src: url("/fonts/eastman-black-webfont.woff2") format("woff2"),
    url("/fonts/eastman-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "eastman";
  src: url("/fonts/eastman-medium-webfont.woff2") format("woff2"),
    url("/fonts/eastman-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "eastman";
  src: url("/fonts/eastman-regular-webfont.woff2") format("woff2"),
    url("/fonts/eastman-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: eastman;
  font-size: 2rem;
  color: var(--color-body);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
  color: var(--color-primary);
  margin-bottom: 5rem;
  margin-top: 0;
}

h2 {
  color: var(--color-secondary);
  font-size: 4.5rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-primary);
}

p {
  margin-top: 0;
}

/*Links*/

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-body);
  position: relative;
}

.link-arrow::after {
  background: url(/images/right-arrow.svg) no-repeat;
  background-size: 3.2rem 2rem;
  display: inline-block;
  width: 3.2rem;
  height: 2rem;
  top: 0%;
  position: absolute;
  content: "";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

.link-arrow-group {
  display: inline-flex;
}

.link-arrow-group__label {
  color: var(--color-secondary);
  margin-right: 12px;
}

.link-arrow-group__icon {
  width: 2.6rem;
  transition: margin 0.15s;
}

.link-arrow-group:hover .link-arrow-group__icon {
  margin-left: 8px;
}

/*Lists*/

.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 5.8rem;
}

.list--inline .list__item:nth-child(1) {
  margin-left: 0;
}

.list--dash {
  list-style-type: "\2014";
  padding-left: 2rem;
}

.list--dash .list__item {
  padding-left: 1.5rem;
}

.list--dash--hover .list__item:hover::before {
  content: "\2014";
  padding-right: 0.7rem;
  padding-left: 0.5rem;
}

.list--bullet .list__item {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
  cursor: pointer;
}

.list--bullet .list__item::before {
  content: "";
  background-color: var(--color-body);
  width: 2px;
  height: 5rem;
  top: 5px;
  left: 5px;
  position: absolute;
}

.list--bullet .list__item::after {
  content: "";
  background-color: var(--color-body);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  top: 5px;
  left: -6px;
  position: absolute;
}

.list--bullet .list__item:hover::after {
  background-color: var(--color-primary);
}

.list--bullet .list__item:hover {
  color: var(--color-primary);
  padding-left: 4.5rem;
}

.list--bullet .list__item:nth-last-child(1)::before {
  display: none;
}

/*Icons*/

.icon {
  width: 44px;
  height: 44px;
  margin-right: 1rem;
}

.icon--primary {
  fill: #8390fa;
  opacity: 90%;
}

.icon--white {
  fill: #fff;
}

.icon-container {
  display: inline-flex;
  align-items: center;
}

/*Buttons*/

.btn {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  outline: none;
  display: inline-block;
}

.btn--form {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 2rem 6rem;
}

.btn--form:hover {
  background-color: #324e80;
}

.btn--outline {
  color: var(--color-body);
  border: 3px solid var(--color-primary);
  padding: 1.9rem 3.6rem;
}

.btn--outline:hover {
  background-color: var(--color-primary);
  color: #fff;
}

/*Grids*/

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Blocks*/

.block {
  padding: 6rem 2rem;
}

.block__heading {
  margin-top: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*Navbar*/

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

/* .nav__logo {
  font-weight: 900;
  color: var(--color-primary);
} */

.nav__logo {
  width: 129px;
  height: 60px;
}

.nav__list__item a {
  color: var(--color-body);
}

.nav__list__item a:hover {
  color: var(--color-primary);
}

.nav__controls {
  display: flex;
  align-items: center;
}
.controls__phone {
  width: 24px;
  fill: var(--color-secondary);
  margin-right: 2rem;
  cursor: pointer;
}

.controls__phone:hover {
  fill: var(--color-primary);
}

.controls__language {
  cursor: pointer;
}

.controls__language:hover {
  color: var(--color-primary);
}

/*Hero section*/

.hero__content {
  align-self: center;
}

.hero__tagline {
  margin-bottom: 7.6rem;
  font-size: 2.4rem;
}

.hero__btn {
  margin-right: 5.3rem;
}

.hero__banner {
  width: 100%;
  justify-self: center;
  background: url(/images/banner_bg.png) no-repeat left / contain;
}
