<ul class="list list--inline">
  <li class="list__item">Item A</li>
  <li class="list__item">Item B</li>
  <li class="list__item">Item C</li>
</ul>

<ul class="list">
  <li class="list__item">Item A</li>
  <li class="list__item">Item B</li>
  <li class="list__item">Item C</li>
</ul>

<ul class="list list--dash">
  <li class="list__item">удобная система управления</li>
  <li class="list__item">минимальное вовлеченность со стороны клиента</li>
  <li class="list__item">удобная система управления</li>
</ul>

<ul class="list list--dash--hover">
  <li class="list__item">Разработка веб сервисов</li>
  <li class="list__item">Разработка мобильных приложений</li>
  <li class="list__item">Разработка мобильных приложений</li>
</ul>

<ul class="list list--bullet">
  <li class="list__item">Инженерно-техническая группа</li>
  <li class="list__item">Группа разработки</li>
  <li class="list__item">Аналитическая группа</li>
  <li class="list__item">Коммерческая група</li>
</ul>
